@import "utilities/";
@import "base/fonts";

:root {
    --color-primary: #FFC771;
    --color-secondary: #593F0D;
}

html {
    font-family: "Gilroy", sans-serif;
    color: var(--color-secondary);
}

.text-title,
.text-subtitle {
    line-height: normal;
    font-weight: 400;
}

.text-title {
    font-size: getMinMax(28px, 40px);
}

.text-subtitle {
    font-size: getMinMax(18px, 24px);
}

.arc {
    position: absolute;
    left: 0;
    width: 100%;

    &-top {
        top: -1px;
    }

    &-bottom {
        bottom: -1px;
    }
}
