@import "base/fonts";

html {
    font-family: 'Gilroy', sans-serif;
    color: #593F0D;
}

.text-title,
.text-subtitle {
    line-height: normal;
    font-weight: 400;
}

.text-title {
    font-size: 2.5rem;
}

.text-subtitle {
    font-size: 1.5rem;
}

.arc {
    position: absolute;
    left: 0;
    width: 100%;

    &-top {
        top: 0;
    }

    &-bottom {
        bottom: 0;
    }
}
